<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <h3>BlogSpace</h3>
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a
          href="/"
          class="nav-link px-2 <%= currentPath === '/' ? 'link-secondary' : '' %>"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/my-posts"
          class="nav-link px-2 <%= currentPath === '/my-posts' ? 'link-secondary' : '' %>"
          >My Posts</a
        >
      </li>
      <li>
        <a
          href="/about"
          class="nav-link px-2 <%= currentPath === '/about' ? 'link-secondary' : '' %>"
          >About</a
        >
      </li>
    </ul>
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>
</div>
